/* 질문할 것
1) 마이크 아이콘을 넣으면 줄바꿈 되는데 어떻게 해야하는지...
2) 영상 제목이랑 조회수 flex로 묶어서 간격 조절 하고 싶은데 어떻게 하는지...
3) 검색 인풋 안에 키보드 아이콘 넣고 싶음... */

* {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration-line: none;
}
navigation {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5vh;
  padding-left: 16px;
  padding-right: 16px;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #313131;
  height: 30px;
  width: 400px;
  background-color: black;
}

#bar {
  border: 0px;
  width: 325px;
  padding: 10px;
  background-color: black;
  outline: none;
  float: left;
}

#search {
  width: 75px;
  float: right;
}

#logo {
  padding-left: 16px;
  padding-right: 14px;
  text-decoration-line: none;
  font-weight: bold;
}

.fa-youtube {
  color: red;
}

.nav-right {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

section {
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
}

.box {
  display: flex;
  justify-content: center;
}

.main {
  padding-top: 24px;
  padding-right: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 2 1 0;
}
#meta_contents {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 24px;
  padding-bottom: 16px;
}
#top_row {
  margin-bottom: 12px;
  padding-top: 16px;
  display: flex;
}
#channel_img {
  border-radius: 50px;
}

.side {
  padding-top: 24px;
  padding-right: 24px;
  display: flex;
  flex: 1 1 0;
  width: 426px;
}

.video_title {
  padding-top: 20px;
  padding-bottom: 8px;
  font-size: 20px;
  border-bottom: 1.333px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 81px;
}

#video_title_name {
  font-size: 18px;
  font-weight: lighter;
}

.video_viewinfo {
  font-size: 14px;
  color: #aaaaaa;
  /* height: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommendation {
  display: flex;
}
#recommend_img {
  margin-right: 8px;
}
#recommend_video_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#recommend_video_name {
  font-size: 14px;
  margin-bottom: 4px;
}
.recommend_video_info {
  font-size: 12px;
  color: #aaaaaa;
}
